.event-item {
  background-color: #eee;
  border: 1px solid #000;
  padding: 1rem;
  max-width: 100%;
  height: auto;
  color: #333;
}

.header {
  font-size: 2.4rem;
  font-weight: 500;
  display: block;
  margin-bottom: 1.6rem;
}

.description {
  font-size: 1.8rem;
  font-weight: 400;
}

.btns {
  margin-top: 6.4rem;
  display: flex;
  justify-content: space-between;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #3366ff;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #254edb;
}
