.title {
  display: block;
  margin-bottom: 3.2rem;
  font-size: 4.8rem;
}

.pagination {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
}

.search {
  margin-bottom: 4.2rem;
  width: auto;
}

label {
  font-size: 1.8rem;
  margin-right: 0.6rem;
}

select {
  height: 3.2rem;
  border: 1px solid #555;
  padding: 0.3rem;
  font-size: 1.4rem;

  width: 60%;
}

input {
  border: 1px solid #555;
  height: 2.4rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
}

.search-input {
  padding: 1.6rem;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.submit-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  background-color: #eee;
  border-radius: 1rem;
  border: 1px solid #333;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 400;
}

.btn:hover,
.btn:active {
  background-color: #ccc;
}

.participants {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
